.tableUnSelected{
	display : none;
}

.tableSelected{
	display:block;
}

.tableHeader{
	cursor: pointer;
	border : 1px solid;
}
.boxLayout{
	border : 1px solid;
}

.newsSection{
	border : 1px solid;
}

.tabs > li{
	width: 100px;
}

.section{
	color : red;
}

.date{
	color:green;
}
