#{extends 'main.html' /}
#{set title:'Home' /}
<div class="grid_12">
	<div class="grid_6 prefix_3">
    <h1>New York Times News Aggregator</h1>
	</div>
</div>
<div class="grid_12">
    #{list NytimesModel.nyTimesModelObjects, as:'nyModel'}
	#{if nyModel_index%3 ==1}
	<div class="grid_12 boxLayout">
    <div class="grid_4 spacer alpha">
    #{/if}
	#{elseif nyModel_index%3==0}
	<div class="grid_4 spacer omega">
	#{/elseif}
	#{else}
	 <div class="grid_4 spacer">
	 #{/else}
        <div class="grid_4">
            <div class="grid_2 alpha">
                ${nyModel.section}
            </div>
            <div class="grid_2 omega ">
                ${nyModel.publishedDate}
            </div>
        </div>
        <div class="grid_4">
            <a href="${nyModel.recordUrl}">${nyModel.title}</a>
        </div>
        <div class="grid_4">
            <div class="grid_1 alpha">
                #{if nyModel.thumbUrl}<img src="${nyModel.thumbUrl}" alt="" height="${nyModel.thumbHeight}" width="${nyModel.thumbWidth}"/>#{/if}
            </div>
            <div class="grid_3 omega">
                ${nyModel.postAbstract}
            </div>
        </div>
		<div class="grid_4">
			#{list nyModel.parselyObjects,as:'publisher'}
			#{if publisher_index == 1}
				<div class="grid_1 tableHeader tabSelected" id="tab${nyModel_index}${publisher_index}">
			#{/if}
			#{else}
				<div class="grid_1 tableHeader tabUnselected" id="tab${nyModel_index}${publisher_index}">
			#{/else}
				${publisher.key}
			</div>
			#{/list}
			#{list nyModel.parselyObjects,as:'publisher'}
			#{if publisher_index == 1}
			<div class="grid_4 tabDivSelected" id="tabDiv${nyModel_index}${publisher_index}">
			#{/if}
		    #{else}
			<div class="grid_4 tabDivUnSelected" id="tabDiv${nyModel_index}${publisher_index}">
			#{/else}
			#{list publisher.value,as:'publisherObj'}
				<div class="grid_4" >
				#{if publisherObj.thumbUrl}
				 <div class="grid_1 alpha">
				 	<img src="${publisherObj.thumbUrl}" alt="" height="47" width="85"/>
				 </div>
				<div class="grid_3 omega">
				#{/if}
				#{else}
				<div class="grid_4">
				#{/else}
				<a href="${publisherObj.url}">${publisherObj.title}</a>
				</div>
				</div>
			#{/list}
			</div>
			#{/list}
		</div>
    </div>
	#{if nyModel_index%3==0}
	</div>
	#{/if}
    #{/list}
</div>
